
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="testsuite" verbose="1" >

    <groups>
        <run>
            <include name="Regression"></include>
        </run>
    </groups>
    <listeners>
        <listener class-name="com.orangehrmlive.demo.opensource.listeners.Listeners"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
    </listeners>
    <test name="LoginTest" >
        <classes>
            <class name="com.orangehrmlive.demo.opensource.testsuite.LoginTest" />
        </classes>
    </test>



</suite>